<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | C++ Web Server by Tirthraj Mahajan</title>
    <link rel="stylesheet" href="../static/css/index.css">       
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/treasure">Treasure</a></li>
                <li><a href="/google" target="_blank">Redirect to Google</a></li>
                <li><a href="/cpp" target="_blank">C++</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h1>About Me</h1>
        <img src="../public/profile.jpeg" alt="Profile Picture">
        <p>Hi, I'm Tirthraj Mahajan. I am a passionate developer who is keen to learn brand new things.</p>
        <p><a target="_blank" href="https://www.linkedin.com/in/tirthraj-mahajan/">Connect to me on Linkedin!</a></p>
    </main>

</body>
</html>