<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treasure | C++ WebServer By Tirthraj Mahajan</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Treasure</a></li>
                <li><a href="/google" target="_blank">Redirect to Google</a></li>
                <li><a href="/cpp" target="_blank">C++</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <h1>Here is the Treasure! (Hopefully the middleware works!)</h1>
            <img src="../public/treasure.jpg" alt="Treasure Image" width="500" style="border-radius: 10%;">
        </main>
</body>
</html>